/* Header */
header {
  background-color: #f8f9fa;
}

.blackback {
  background-color: #424143;
}

.blackback .fa-shopping-cart {
  float: right;
  padding: 10px;
  cursor: pointer;
  margin: 20px;
}

.top_header {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 1100px;
  margin: auto;
}

.fa-gg,
.fa-desktop {
  color: #91c612;
}

.header_logo {
  max-width: 100px;
  margin: auto;
  max-height: 50px;
}

.top_header a {
  float: left;
  color: #91c612;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

.searchItems,
.input-group {
  max-width: 36.8vw;
  margin: auto;
}

.input-group-append button {
  background-color: #91c612;
  border: none;
}

.input-group-append button:hover {
  background-color: #343434;
}

.input-group-append button i:hover {
  color: #91c612;
}

.searchItems {
  max-width: 36.8vw;
  background-color: white;
  margin-top: -15px;
  max-height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
}

.searchItemsContainer li {
  cursor: pointer;
  display: flex;
  padding: 8px;
}

.searchItems .searchItemsContainer img {
  max-width: 100px;
}

.searchItemsContainer,
.searchItemsContainer p,
.searchItemsContainer h6 {
  display: none;
}

/* NavBar */
#navbarContainer {
}

.navbar {
  position: relative;
}

.navbar a {
  float: left;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.navbar-nav {
  position: absolute;
  top: 0;
}

.navbar-nav .navbar-item {
  float: left;
  overflow: hidden;
}

.navbar-nav .nav-item .nav-link {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-left: 0.6vw;
}

.dropdown-container {
  display: none;
  background-color: #91c612;
  min-width: 7vw;
  margin-left: 0.7vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 15px 15px;
  z-index: 2;
}

.dropdown-container:hover {
}

.dropdown-container a {
  float: none;
  color: #424242;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-container a:hover {
  color: black;
}

header nav li {
  margin-left: 2vw;
}

header nav {
  clear: both;
  max-width: 1100px;
  margin: auto;
}

/* Breadcrumb */
.breadcrumb {
  background-color: #424143;
}

.breadcrumb li {
  margin: 0%;
}

.breadcrumb a,
.breadcrumb li i {
  color: #91c612;
  text-decoration: none;
}

.breadcrumb .active {
  margin-top: 0px;
  color: #b8b8b8;
}
/* Carousel */
#carousel {
  height: 400px;
  margin-top: -16px;
  margin-bottom: 20px;
}

.d-block,
.carousel-item {
  height: 400px;
}

/* Brands */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 175px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 173px;
  height: 173px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* Footer */
footer {
  background-color: #343a40;
  color: white;
  clear: both;
  text-align: center;
  margin-top: 17.5rem;
}

footer nav {
  clear: both;
  max-width: 1100px;
  margin: auto;
}

footer nav li {
  overflow: hidden;
  margin-left: 10vw;
}

footer nav li a {
  height: 5vh;
  width: 6vw;
}

#navbarFooterContainer {
  height: 5.5vh;
}

.bottom_footer {
  background-color: #424143;
  margin-bottom: 0px;
  padding: 3px;
  padding-top: 25px;
  height: auto;
}

.fa-envelope,
.fa-youtube {
  color: #91c612;
}

footer a {
  color: white;
}

/* SideNav */
.sidenav {
  height: 100%;
  width: 200px;
  overflow-x: hidden;
  margin-top: -16px;
  margin-left: -40px;
  background-color: rgb(235, 235, 235);
  float: left;
}

.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(83, 83, 83);
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.active {
  display: block;
}

.dropdown-container a {
  color: rgb(39, 39, 39);
}

.sidenav a:hover,
.dropdown-btn:hover {
  color: #91c612;
}

/* Product Cards */
.main {
  position: relative;
  float: left;
  align-self: center;
  padding-top: 2.35vh;
  margin-left: -3.43vw;
  margin-right: -3.43vw;
}

.card img {
  max-width: 230px;
  max-height: 12.5rem;
  padding-top: 3%;
  border-radius: 5px 5px 0 0;
}

.card .container {
  padding: 0;
  margin-top: auto;
  text-align: center;
  border-top: none;
  height: auto;
}

.card .container p {
  display: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  border: 1px solid black;
  width: 230px;
  height: 300px;
  float: left;
  margin-bottom: 5vh;
  margin-left: 3.43vw;
}

.card:hover {
  transform: scale(1.25);
  cursor: pointer;
  z-index: 1;
}

/* Order by button */

.dropdown {
  position: relative;
  float: right; /*
  margin-left: 3.43vw;
  margin-top: 2.35vh;*/
  /*margin-top: -1.7vh;*/
  border: none;
}

.dropdown .btn-success {
  background-color: #91c612;
  color: #343434;
  border-radius: 5px;
  border: none;
}

.dropdown .dropdown-menu {
  background-color: #424143;
}

.dropdown .dropdown-item {
  color: white;
}

.dropdown .dropdown-item:hover {
  background-color: #91c612;
  color: #343434;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 1%;
  left: 0;
  top: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

#cartModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 1%;
  left: 0;
  top: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  min-width: 0%;
  max-width: 50%;
  min-height: 0%;
  max-height: 100%;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  scrollbar-width: none;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-content img {
  margin: auto;
  display: block;
  min-height: 200px;
  max-height: 60%;
  max-width: 60%;
  min-width: 200px;
  padding-top: 3%;
}

#modalText {
  margin: auto;
  min-width: 20%;
  max-width: 80%;
  text-align: center;
  color: #343434;
  padding: 0;
  white-space: pre-line;
  height: 100%;
}

#buyButton {
  align-self: center;
  width: auto;
  background-color: #424242;
  border-radius: 50px 50px 50px 50px;
  margin-bottom: 1vh;
  margin-top: 1vh;
  border: 1px solid black;
  color: #91c612;
  padding: 2px 10px;
}

.fa-shopping-cart {
  color: #91c612;
}

#modalText #specs,
#modalText #name,
#modalText #price {
  margin-top: -2vh;
}

#modalText #specs {
  overflow: auto;
  scrollbar-width: none;
}

#modalText #price {
  margin-bottom: -1.5vh;
}

.modal-content img,
#modalText {
  animation-name: zoom;
  animation-duration: 0.25s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #343434;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 1;
}

.close:hover,
.close:focus {
  color: #91c612;
  text-decoration: none;
  cursor: pointer;
}

#videoModal .divVideo {
  width: 100%;
  height: 60vh;
  justify-content: center;
  align-self: center;
}

#videoModal iframe {
  background-color: green;
  width: 100%;
  height: 100%;
}

/* Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    max-width: 100%;
    margin: 0;
    min-height: 0%;
    max-height: 100%;
    overflow: hidden;
  }

  #videoModal .divVideo {
    width: 100vw;
    height: 100vh;
  }

  #modalText {
    max-width: 90%;
    max-height: 100%;
    overflow: scroll;
    scrollbar-width: none;
  }

  #modalText #specs {
  }

  .modal-content img {
    min-height: 0%;
    width: auto;
  }

  .dropdown {
  }

  .sidenav {
    display: none;
  }

  .card {
  }

  .card:hover {
    transform: none;
  }

  .main {
    width: 100%;
  }
}

/* cart */
#cartModal .modal-content {
  max-width: 60%;
}

#cartModal .cartItems {
  position: relative;
  overflow: scroll;
  scrollbar-width: none;
  margin-bottom: 6.5vh;
}

#cartModal .cartItems img {
  max-width: 15vw;
}

#cartModal .cartItems .container {
  margin: 10px;
}

#cartModal .cartItems div {
  display: flex;
  margin: 15px;
}

#cartModal .cartItems h5 {
  margin-left: 1vw;
  color: #91c612;
  font-size: x-large;
  padding-top: 10vh;
}

#cartModal .cartItems h4 {
  max-width: 30vw;
  padding-top: 10vh;
}

#cartModal #buyCart {
  display: none;
  width: 5.5vw;
  margin: auto;
  margin-bottom: 1vh;
  border: 1px solid #343434;
  background-color: #91c612;
  border-radius: 10px;
}

.removeProduct {
  position: absolute;
  right: 3vw;
  color: #343434;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
  margin-left: 2vw;
  margin-top: 10vh;
}

.removeProduct:hover,
.removeProduct:focus {
  color: #91c612;
  text-decoration: none;
  cursor: pointer;
}

.totalPrice h4,
.totalPrice h3 {
  float: left;
  font-size: 25px;
  color: #91c612;
}

.totalPrice {
  position: absolute;
  right: 15px;
  bottom: 0;

  border-radius: 100px;
  padding: 1px;
  margin-right: 5vw;
}

.scroll-top {
  display: none;
  position: fixed;
  bottom: 3vh;
  right: 1vw;
  padding: 10px 12px;
  border-radius: 100px;
  background-color: #343434;
  cursor: pointer;
}

.scroll-top:hover {
  background-color: #91c612;
  border: 1px solid #343434;
}

.scroll-top:hover .fa-arrow-up {
  color: #343434;
}

.fa-arrow-up {
  color: #91c612;
}
