/* Header */
header {
  background-color: #f8f9fa;
}

.blackback {
  background-color: #424143;
}

.top_header {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 1100px;
  margin: auto;
}

.fa-gg,
.fa-desktop {
  color: #91c612;
}

.header_logo {
  max-width: 100px;
  margin: auto;
  max-height: 50px;
}

/*.search input[type="text"] {
  position: absolute;
  padding: 6px;
  width: 30%;
  right: 40rem;
  display: flex;
  border: 1px solid black;
  font-size: 17px;
}*/

.top_header a {
  display: block;
  float: left;
  color: #91c612;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

/*.search {
  justify-content: center;
  align-content: center;
  padding-top: 2rem;
}*/

.input-group {
  max-width: 600px;
  margin: auto;
}

.input-group-append button {
  background-color: #91c612;
  border: none;
}

.input-group-append button:hover {
  background-color: #343434;
}

.input-group-append button i:hover {
  color: #91c612;
}

/* NavBar */

header nav li {
  margin-left: 4.18vw;
}

header nav {
  clear: both;
  max-width: 1100px;
  margin: auto;
}

nav i:hover {
  color: #ffffff;
  cursor: pointer;
}

nav a {
  text-align: center;
}

.blackback nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
}

.container nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: #91c612;
  transition: all ease-in-out 250ms;
}

.container nav a:hover::before {
  width: 100%;
}

/* Breadcrumb */
.breadcrumb {
  background-color: #424143;
}

.breadcrumb li {
  margin: 0%;
}

.breadcrumb a,
.breadcrumb li i {
  color: #91c612;
  text-decoration: none;
}

.breadcrumb .active {
  padding-top: 4px;
  color: #b8b8b8;
}
/* Carousel */
#carousel {
  height: 400px;
  margin-top: -16px;
  margin-bottom: 20px;
}

.d-block,
.carousel-item {
  height: 400px;
}

/* Brands */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 175px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 173px;
  height: 173px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* Footer */
footer {
  background-color: #343a40;
  color: white;
  clear: both;
  text-align: center;
  margin-top: 17.5rem;
}

footer nav {
  clear: both;
  max-width: 1100px;
  margin: auto;
}

footer nav li {
  margin-left: 10.5vw;
}

.bottom_footer {
  background-color: #424143;
  margin-bottom: 0px;
  padding: 3px;
  padding-top: 25px;
  height: 16vh;
}

.fa-envelope,
.fa-youtube {
  color: #91c612;
}

footer a {
  color: white;
}

/* SideNav */
.sidenav {
  height: 100%;
  width: 200px;
  overflow-x: hidden;
  margin-top: -16px;
  background-color: rgb(235, 235, 235);
  float: left;
}

.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(83, 83, 83);
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-btn i {
  float: right;
  padding-right: 8px;
  padding-top: 3px;
}

.dropdown-container {
  padding-left: 10px;
  background-color: rgb(175, 175, 175);
  display: none;
}

.active {
  display: block;
}

.dropdown-container a {
  color: rgb(39, 39, 39);
}

.sidenav a:hover,
.dropdown-btn:hover {
  color: #91c612;
}

/* Product Cards */
.main {
  position: relative;
  float: left;
  width: 80%;
  margin-top: 1.75vh;
  margin-bottom: 5vh;
}

.card img {
  max-width: 230px;
  height: 200px;
  padding-top: 3%;
  border-radius: 5px 5px 0 0;
}

.card .container {
  padding: 0;
  margin-top: auto;
  text-align: center;
  border-top: none;
  height: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  border: 1px solid black;
  width: 230px;
  height: 300px;
  float: left;
  margin-bottom: 5vh;
  margin-left: 3.43vw;
}

.card:hover {
  transform: scale(1.25);
  cursor: pointer;
  z-index: 1;
}
