/* Header */
header {
  background-color: #f8f9fa;
}

.top_header {
  padding-top: 10px;
  /*display: flex;*/
  background-color: #424143;
}

.fa-gg,
.fa-desktop {
  color: #91c612;
}

.header_logo {
  margin-left: 25rem;
  margin-right: auto;
}

.search input[type="text"] {
  position: absolute;
  padding: 6px;
  width: 30%;
  right: 40rem;
  display: flex;
  border: 1px solid black;
  font-size: 17px;
}

.top_header a {
  display: block;
  float: left;
  color: #91c612;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.search {
  justify-content: center;
  align-content: center;
  padding-top: 2rem;
}

/* NavBar */

header nav li {
  margin-left: 4.8rem;
}

nav i:hover {
  color: #ffffff;
  cursor: pointer;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: #91c612;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* Breadcrumb */
.breadcrumb {
  background-color: #424143;
}

.breadcrumb li {
  margin-left: 21%;
}

.breadcrumb li i {
  color: #91c612;
}

/* Carousel */
#carousel {
  height: 400px;
  margin-top: -16px;
  margin-bottom: 20px;
}

.d-block,
.carousel-item {
  height: 400px;
}

/* Brands */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 175px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 173px;
  height: 173px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* Footer */
footer {
  background-color: #343a40;
  color: white;
  clear: both;
  text-align: center;
  margin-top: 17rem;
}

footer nav li {
  margin-left: 8.5rem;
  margin-right: 8.5rem;
}

.bottom_footer {
  background-color: #424143;
  margin-bottom: 0px;
  padding: 3px;
  padding-top: 25px;
}

.fa-envelope,
.fa-youtube {
  color: #91c612;
}

footer a {
  color: white;
}

.info {
}
